@use '../core/variables' as *;

.header {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 24px;
    .header__logo {
        img {
            width: 40px;
            height: 40px;
        }
        &::after {
            @media (min-width: 1190px) {
                content: "";
                position: absolute;
                top: 50%;
                left: 100px;
                transform: translateY(-50%);
                height: 1px;
                width: 25%;
                background-color: #979797;
                z-index: 1;
            }
            @media (min-width: 1300px) {
                width: 35%;
            }
        }
    }
    nav {
        background-color: rgb(255 255 255 / 1%);
        backdrop-filter: blur(18.45px);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;
        width: 254px;
        height: 100vh;
        transition: 500ms transform;
        transform: translateX(100%);
        a {
            overflow: hidden;
            color: $color-3;
            font-family: 'Barlow Condensed', sans-serif;
            span {
                margin-right: 11px;
                font-weight: 700;
                @media (min-width: 650px) {
                    display: none;
                }
                @media (min-width: 1190px) {
                    display: inline;
                }
            }
            @media (min-width: 650px) {
                letter-spacing: 2.36px;
                height: 90px;
                display: flex;
                align-items: center;
            }
            @media (min-width: 1190px) {
                letter-spacing: 2.7px;
            }
            &::before {
                transition: 500ms width;
            }
            &.active {
                overflow: visible;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -32px;
                    width: 4px;
                    height: 31px;
                    background-color: #FFFFFF;
                    display: flex;
                    transform: translateY(-50%);
                    @media (min-width: 650px) {
                        z-index: 1;
                        top: auto;
                        right: -50%;
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
            }
            &:not(.active) {
                position: relative;
                &::before {
                    content: "";
                    opacity: 0.51;
                    position: absolute;
                    top: 50%;
                    right: -32px;
                    width: 4px;
                    height: 31px;
                    background-color: #FFFFFF;
                    display: flex;
                    transform: translateY(-50%);
                    @media (min-width: 650px) {
                        z-index: 1;
                        top: auto;
                        right: -50%;
                        width: 0;
                        height: 3px;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }
                @media (min-width: 650px) {
                    &:hover::before {
                        width: 100%;
                    }
                }
                
            }
        }
        @media (min-width: 650px) {
            position: relative;
            top: auto;
            right: auto;
            z-index: auto;
            flex-direction: row;
            padding: 39px 49px;
            width: auto;
            height: 90px;
            transform: translateX(0);
            align-items: center;
            margin-left: auto;
        }
        @media (min-width: 1190px) {
            width: 870px;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            gap: 48px;
        }
    }
    @media (min-width: 650px) {
        height: 90px;
        padding-top: 0;
    }
    @media (min-width: 1190px) {
        margin-bottom: 251px;
    }
}
.menu-icon {
    margin-left: auto;
    @media (min-width: 650px) {
        display: none;
    }
}
.menu-close-icon {
    display: flex;
    align-items: center;
    align-self: flex-end;
    @media (min-width: 650px) {
        display: none;
    }
}